<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="ListenersDrive.ListenersClass" />
	</listeners>
	<test thread-count="3" name="Test">
		<classes>
			<class name="TestDrive.HomePageTest" />
			<class name="TestDrive.VaccationPageTest" />
			<class name="TestDrive.TicketPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
